{
  "presets": [
    [
      "env",
      {
        "targets": {
          "electron": "1.8.1"
        }
      }
    ],
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-runtime"
  ]
}
